@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.typewriterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-color: #282c34; /* Dark background */
  color: white; /* White text */
  font-family: 'Courier New', Courier, monospace; /* Monospace font for typewriter effect */
}

.typewriterText {
  font-size: 2rem; /* Adjust font size */
  margin: 0; /* Remove default margin */
}
.cursor {
  font-size: 2rem; /* Match cursor size with text */
  color: #61dafb; /* Cursor color */
}